*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    height: 12vh;

}



.list{
    display: flex;
    justify-content: space-between;
    margin-left: -58%;

}
.list-item{
    color: #fff;
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    font-family: poppins;
    margin: 0 9px;
}

#toggle {
    border: none;
    color: white;
    background-color: black;
    font-family: poppins;
    font-size: 15px;
    font-weight: 500;
}

.line{
    background-color: #ffffff;
    
    width: 1px;
    height: 50px;
    align-items: center;
    margin-left: -21%;
}

.logo{
    width: 65%;
    margin-left: -33px;
}

.button-small{
    padding: 10px 35px;
    background-color: #B90EC4;
    font-family: poppins;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-right: -30px;
}

.hero{
    height: 137vh;
    background-image: url(./assets/bg.png);
    background-position: center;
    background-size: cover;

}

.hero-heading{
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat";
    font-size:80px;
    font-weight: 700;
    padding: 175px 0;
    margin: 0 120px;

}
.hero-description{
    text-align: center;
    color: #fff;
    font-family: "montserrat";
    font-size: 27px;
    font-weight: 600;
    margin-top: -170px;
}
.button-large{
    position: relative;
    left: 550px;
    margin-top: 60px;
    padding: 18px 25px;
    background-color: #B90EC4 ;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 30px;
}